In [1]:
import CliffNoteGenerator as cng
import pandas as pd

In [2]:
# Load the content of the file
text = cng.read_data("sample.txt")
print(text)

YOU don't know about me without you have read a book by the name of The Adventures of Tom Sawyer; but that ain't no matter.  That book was made by Mr. Mark Twain, and he told the truth, mainly.  There was things which he stretched, but mainly he told the truth.  That is nothing.  I never seen anybody but lied one time or another, without it was Aunt Polly, or the widow, or maybe Mary.  Aunt Polly--Tom's Aunt Polly, she is--and Mary, and the Widow Douglas is all told about in that book, which is mostly a true book, with some stretchers, as I said before.

In [3]:
# Parse and clean text and create a list of words
list_of_words = cng.process_data(text)
print(list_of_words)

['you', "don't", 'know', 'about', 'me', 'without', 'you', 'have', 'read', 'a', 'book', 'by', 'the', 'name', 'of', 'the', 'adventures', 'of', 'tom', 'sawyer;', 'but', 'that', "ain't", 'no', 'matter', 'that', 'book', 'was', 'made', 'by', 'mr', 'mark', 'twain', 'and', 'he', 'told', 'the', 'truth', 'mainly', 'there', 'was', 'things', 'which', 'he', 'stretched', 'but', 'mainly', 'he', 'told', 'the', 'truth', 'that', 'is', 'nothing', 'i', 'never', 'seen', 'anybody', 'but', 'lied', 'one', 'time', 'or', 'another', 'without', 'it', 'was', 'aunt', 'polly', 'or', 'the', 'widow', 'or', 'maybe', 'mary', 'aunt', 'polly', "tom's", 'aunt', 'polly', 'she', 'is', 'and', 'mary', 'and', 'the', 'widow', 'douglas', 'is', 'all', 'told', 'about', 'in', 'that', 'book', 'which', 'is', 'mostly', 'a', 'true', 'book', 'with', 'some', 'stretchers', 'as', 'i', 'said', 'before']

In [4]:
# Compute top 20 words in the text
top_n = cng.compute_data(list_of_words, 20)
pd.DataFrame(top_n)

         0  1
0      the  6
1     book  4
2       is  4
3     that  4
4      and  3
5     aunt  3
6      but  3
7       he  3
8       or  3
9    polly  3
10    told  3
11     was  3
12       a  2
13   about  2
14      by  2
15       i  2
16  mainly  2
17    mary  2
18      of  2
19   truth  2